@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');
:root {
	--page-width: 700px;
	--bg-color: #1e1e2e;
	--text-color: #cdd6f4;
	--heading-color: #cba6f7;
}

body {
	margin: 0;
	padding: 0;
	font-family: 'JetBrains Mono', monospace;
	background: var(--bg-color);
	color: var(--text-color);
	display: flex;
	justify-content: center;
}

img {
	filter: grayscale(1);
	width: 100%;
	transition: filter 0.5s ease;
}

img:hover {
	filter: grayscale(0);
}

.page {
	width: 100%;
	max-width: var(--page-width);
	padding: 2rem 1.5rem;
	box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
	color: var(--heading-color);
	margin-top: 2rem;
	margin-bottom: 0.8rem;
	font-weight: 100;
}

p {
	line-height: 1.6;
	font-weight: 400;
	margin: 1.2rem 0;
}

a {
	color: var(--heading-color);
	font-style: italic;
}	
