@import url('https://fonts.googleapis.com/css2?family=Instrument+Serif:ital@0;1&display=swap');
:root {
	--page-width: 900px;
	--bg-color: #fbf1c7;
	--text-color: #3c3836;
	--heading-color: #689d6a;
}

body {
	margin: 0;
	padding: 0;
	background: var(--bg-color);
	color: var(--text-color);
	display: flex;
	justify-content: center;
	font-family: Georgia, serif;
	height: 100%;
}

img {
	filter: grayscale(1);
	width: 100%;
	transition: filter 0.5s ease;
}

img:hover {
	filter: grayscale(0);
}

.page {
	width: 100%;
	max-width: var(--page-width);
	padding: 2rem 1.5rem;
	box-sizing: border-box;
}

.bar {
	display: flex;
	justify-content: space-evenly;
}

h1, h2, h3, h4, h5, h6 {
	color: var(--heading-color);
	margin-top: 2rem;
	margin-bottom: 0.8rem;
	font-style: italic;
	font-family: "Instrument Serif", serif;
	font-weight: 100;
}

p {
	line-height: 1.6;
	margin: 1.2rem 0;
	font-weight: 400;
}

a {
	color: var(--heading-color);
	font-style: italic;
}	

.bar a {
	font-style: normal;
}
